#title{
    background-color: #ff4c68;
}
/* .body{
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif;
} */

.container-fluid{
    padding: 3% 15% 10%;
}



.iphone{
    transform: rotate(15deg);
    /* padding-top: 7rem; */
    /* height: 60%; */
    width: 60%;
    opacity: 1;
    margin-right: 30px;
    /* z-index:1; */
    position: absolute;

}
.body{
    font-family: "Montserrat";
}

/* Navigation Bar */
.navbar-brand{
    font-family: 'Ubuntu';
}
.navbar{
    padding: 0 0 8.5rem;
}

.nav-item{
    padding: 0 28px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    line-height: 1.5rem;
}


.col-lg-4{
    margin: 0 auto;
    /* color: #8f8f; */
}
p{
    color: #8f8f8f;
    
}
.check{
    size: "5x"; 
    /* text-align: center !important; */
    color: #ef8172;
    /* height : 32px;
    width: 32px; */
    margin-bottom: 1rem;
}

/* Features */


#features{
    background-color: #fff;
    /* margin-top: 4.5rem; */
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}
.check:hover{
    color:#ff4c68;
}
.feature-box{
    text-align: center;
    
}
.a{
    padding-left: auto;
    padding-right: auto;
}


/* Testimonial section  */
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    font-family: "Montserrat";
    color: #fff;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    /* width: 10%; */
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
padding: 7% 15%;
}


/* Pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}


.pricing-column{
    padding: 3% 2%;
}

@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .iphone{
        position: static;
        transform: rotate(0);
        margin-top: 2rem;

    }
    .smlll{
        font-size: 1rem;
        font-weight: 300;
    }
}


#cta{
    background-color: #ff4c68;
    font-family: "Montserrat";
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 7% 30%;
}
.cta-font{
    font-size: 2rem;
    line-height: 1.8;
}
.cta-button{
    margin-top: 1rem;
    margin-right: 1rem;
}

#footer{
    text-align: center;
    margin-top: 8rem;
    line-height: 2;
   
}
.fb{
    /* padding-right: 1rem; */
    margin-right: 1rem;
    line-height: 2;
}


/* Heading */

h1{
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

h2{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat";
    font-size: 1.55rem;
    text-align: center;
    font-weight: 900;
    }